<%= link_to 'Back', enhanced_listings_path,class:"btn" %> 
<%= link_to 'Edit', edit_enhanced_listing_path(@enhanced_listing) ,class:"btn edit" %> 



<p id="notice"><%= notice %></p>


<p>
  <b>Exhibitor:</b>
  <%= @enhanced_listing.exhibitor_id %>
</p>

<p>
  <b>Product name:</b>
  <%= @enhanced_listing.product_name %>
</p>

<p>
  <b>Product image:</b>
  <%= @enhanced_listing.product_image %>
</p>

<p>
  <b>Product description:</b>
  <%= @enhanced_listing.product_description %>
</p>

<p>
  <b>Product link:</b>
  <%= @enhanced_listing.product_link %>
</p>


