
<%= form_for(current_user, :remote => true, :url => update_password_user_path(id: current_user.id), :html => { :method => :patch }) do |f| %>
  <div class="row">
    <div class="col-12 col-sm-7 mb-3">

      <div class="card-header mb-4" style="background-color: #fff;">
        <b>Change Password</b>
      </div>

      <div class="row">
        <div class="col" id="passwordErrorsDiv">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.label :current_password, "Current Password"%><i text-nowrap>(we need your current password to confirm your changes)</i><br/>
            <%= f.password_field :current_password, :class => 'form-control', :placeholder => "Enter Current Password", :required => true %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.label :password, "Password" %><br/>
            <%= f.password_field :password, :class => 'form-control',:autocomplete => "off", :placeholder => "Enter New Password", :required => true%>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Re-Enter New Password", :required => true%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end">
          <div class="form-group">
            <%= f.submit "Submit",class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
