%body
  - unless @settings.hide_banner_bar
    / ======= Banner ======= /
    %nav.navbar.navbar-light.bg-light.reg-banner
      = @settings.reg_banner.to_s.html_safe

  / ======= Main ======= /
  .container-fluid.d-flex.flex-column.mx-auto.reg-main

    / ======= Header ======= /
    .d-flex.reg-section-container.align-items-center.reg-header{style: ("background-image: linear-gradient(to bottom, ##{@settings.gradient_top || '317eac'}, ##{@settings.gradient_bottom || 'a4b5c0'}" if !@settings.show_header_agenda_page)}
      .row.mx-auto.d-flex.reg-row
        .col-12.d-flex.reg-col

          / ======= Nav ======= /
          .row
            %nav.navbar.navbar-expand-sm.navbar-light.full-width
              %a.navbar-brand.text-wrap{ id:"registration-top-nav"}
                -if @event.logo_event_file_id.present?
                  = image_tag(@event.event_file.return_authenticated_url["url"], :class =>'photo_preview', style: "max-height: 70px")
                -else
                  %img{:src => "/assets/ek_logo.png", :width => "100px"}/
              %button.navbar-toggler.collapsed{type:"button", 'data-toggle':"collapse", 'data-target':".navbar-collapse", 'aria-expanded':"false" }
                %span.navbar-toggler-icon
              .collapse.navbar-collapse.justify-content-end
                %ul.navbar-nav.ml-auto
                  %li.nav-item
                    %a.nav-link{:href => "/#{params[:event_id]}/exhibitor_registrations"}
                      %i.fa.fa-home
                  - if @settings.method("speakers").call()
                    %li.nav-item
                      %a.nav-link{:href => "/#{params[:event_id]}/exhibitor_registrations/speakers"}
                        SPEAKERS
                  = link_to 'REGISTER NOW', "/#{params[:event_id]}/exhibitor_registrations/new", class:"btn btn-primary round-btn register_btn"         

          / ======= Header Content ======= /
          - if @settings.show_header_agenda_page
            .row
              .reg-header-content
                -if !@settings.reg_header_content.blank?
                  - efile = EventFile.select(:event_id, :cloud_storage_type_id, :path).find(@settings.reg_header_content.to_i)
                  - if efile.cloud_storage_type_id.blank?
                    = image_tag(efile.path, :class=>'photo_preview')
                  - else
                    = image_tag(efile.return_authenticated_url['url'], :class=>'photo_preview')
                  %br/

                  %br/
    .d-flex.reg-section-container.align-items-center
      .row.mx-auto.d-flex
        .col-12.d-flex.p-0
          .row.mx-auto.d-flex
            = @settings.agenda_info.to_s.html_safe
    .d-flex.reg-section-container.align-items-center
      .row.mx-auto.d-flex
        .col-12.d-flex.p-0
          .row.mx-auto.d-flex
            = @settings.exhibitors_info.to_s.html_safe

:css
  .reg-header{
    background-image: url("#{(!!@settings.reg_header_bg_img && @settings.show_header_agenda_page) ? EventFile.find(@settings.reg_header_bg_img.to_i).path : ''}");
  }