<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Hi <%= @email %>,</p>
		<p>This request has been sent to confirm resetting your password for <%= @event.name %>. To confirm, please follow the link. Otherwise, ignore this email. <a href="<%=@event.master_url%>/forgot_password/mobile_forgot_password?event_id=<%=@event.id%>&user_name=<%=@username%>&token=<%=@token%>"><%=@event.master_url%>/forgot_password/mobile_forgot_password?event_id=<%=@event.id%>&user_name=<%=@username%>&token=<%=@token%></a></p>

		<p>Have a great day!</p>
  </body>
</html>