= form_for(@survey, :html => {:class=>"bg-light custom-border px-3 py-3" }, :url => {:action => "update_associations"} ) do |f|

  %h3= @survey.title

  - if @survey.errors.any?
    #error_explanation
      %h2
        = pluralize(@survey.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @survey.errors.full_messages.each do |msg|
          %li= msg

  .field
    Hold the ctrl key on Windows, or Apple button on Mac to select multiple sessions. Deselect sessions to have the associations removed. Hold shift instead to all options between one session and another.

  = f.hidden_field :id, :value => params[:id]

  .form-group.mb-2
    = label_tag(:add_sessions, "Select Sessions:")
    = select_tag(:session_ids, options_for_select(@sessions.map { |session| ["#{session.session_code} #{session.title}", session.id] }, @selected), :multiple => true, :size=>30, class: "custom-select")

  .actions
    = f.submit "Add Sessions Associations for Survey", class:"btn btn-primary"
