%br
%br
%br
.threads-container.box-shadow--6dp
    .threads-nav-bar
        .threads-nav-header
            %span.fa.fa-inbox
            Inbox
        %a.message-button-container.pull-right{href:'/exhibitor_messages/settings',data:{toggle:"tooltip", placement:"top", title:"Settings"}}
            %span.compose-message.fa.fa-cog.clickable.message-button
        %a.message-button-container.pull-right{href:'/exhibitor_messages/new',data:{toggle:"tooltip", placement:"top", title:"Compose Message"}}
            %span.compose-message.fa.fa-pencil.clickable.message-button
            &nbsp;
    - if @message_threads.length == 0
        .no-content= "You have no messages."
    - !@message_threads.blank? && @message_threads.each do |thread|
        .threads-title-container
            .clickable-title{style:'display:inline;'}
                %span.fa.fa-caret-right
                = thread.title
                - if is_thread_unread?(thread.id)
                    %span.fa.fa-envelope
               
            .accordion-content{style:"display:none;", id:"thread_#{thread.id}"}

                .thread-participants
                    = thread.comma_delimited_list_of_participants

                - thread.app_messages.each_with_index do |m, i|
                    .messages-title-container{style:"margin-left:#{i<6 ? 20*i : 100}px;"}

                        .messages-title-time.pull-right
                            Sent on
                            = m.msg_time
                        /%a{href:"/messages/#{thread.id}"}
                        .message-container
                            - if  m.attendee.blank?
                                .message-author
                                    unknown
                            - else
                                .message-author
                                    %a.trigger-info(tabindex="0" role="button" data-toggle="popover" title="#{m.attendee.full_name}" data-content="#{m.attendee.title} </br> #{m.attendee.company}")
                                        = m.attendee.full_name
                            .message-content
                                = m.content
                .thread-buttons
                    %span.compose-message.fa.fa-pencil.clickable{data:{toggle:"tooltip", placement:"top", title:"Reply to this thread."}}
                    .hidden-message-form
                        = form_for thread, :url => {:controller => 'exhibitor_messages', :action => 'reply'}, :method => :POST do |f|
                            = hidden_field_tag 'thread_id', thread.id, :class => 'thread_id'
                            .field.reply-field
                                = text_area_tag 'reply', '', placeholder:'Type your reply here.', style:'width:100%;'
                            .field
                                = f.submit 'Send Reply', class:'btn btn-primary send-reply'

:javascript
    $(function() { 
        var mthread = "#{!@message_threads.blank?}";
        if(mthread == "true"){
            modulejs.require('messages/messages-index').init();
        }
    });

    $('.trigger-info').on('click', function(){
        $(this).popover({
            container: 'body',
            html: true
        });
    });