%br
%br
%br
.threads-container.box-shadow--6dp
    .threads-nav-bar
        %a.message-button-container{href:'/exhibitor_portals/messages',data:{toggle:"tooltip", placement:"top", title:"Return to Inbox"},style:'display:inline-block;'}
            %span.compose-message.fa.fa-chevron-left.clickable.message-button
        .new-message-header
            %span.fa.fa-cog
            Settings
    .new-message-container
        = form_for @attendee, :url => {:controller => 'exhibitor_messages', :action => 'settings' } do |f|

            - if @attendee.errors.any?
                #error_explanation
                    %h2
                    = pluralize(@attendee.errors.count, "error")
                    prohibited this setting from being saved:
                    %ul
                    - @attendee.errors.full_messages.each do |msg|
                        %li= msg

            = hidden_field_tag :attendee_id, @attendee.id

            .field
                = f.label :notify_message_via_email, "Receive Message Notifications via email"
                = f.check_box :notify_message_via_email, "data-onstyle" => "info", "data-toggle" => "toggle", "data-width" => "80", :type => "checkbox", "data-size" => "sm"
            %br
            %br
            .field
                = f.submit 'Update Settings', class:"btn btn-primary"

%link{:href => "https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css", :rel => "stylesheet"}
%script{:src => "https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"}