<%= link_to 'Edit', edit_poll_path(@poll), class:"btn btn-primary" %> |
<%= link_to 'Back', polls_path, class: 'btn btn-secondary' %>
<br/>
<br/>
<%= link_to "Session Associations", "/polls/associations/#{@poll.id}", class: 'btn btn-link'%>

<h4 class="mt-4"><%= @poll.title %></h4>
<div class="list-group">
  
  <% @options.each do |option| %>
    <%= link_to option.text.html_safe,'#', class:'list-group-item list-group-item-action' %>
  <% end %>
</div>
<br/>
<p>Timeout Time: <%= @poll.timeout_time %> secs</p>