<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for :attendee, url: "/#{params[:event_id]}/program/login", :html => {id: "program_feed_login", autocomplete: 'off'}, :remote => true do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control"%>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :passw, class: "form-control"%>
          </div>

          <div class="form-group">
          </div>

          <%= f.submit "Login ", class:"btn btn-primary " %>
          <div class="not-found"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>