.custom-control.custom-switch
    = f.check_box :agenda, class: "custom-control-input"
    = f.label :agenda,class: "custom-control-label"
.custom-control.custom-switch
    = f.check_box :speakers, class: "custom-control-input"
    = f.label :speakers,class: "custom-control-label"
.custom-control.custom-switch
    = f.check_box :exhibitors, class: "custom-control-input"
    = f.label :exhibitors,class: "custom-control-label"
.custom-control.custom-switch
    = f.check_box :sponsors, class: "custom-control-input"
    = f.label :sponsors,class: "custom-control-label"
.custom-control.custom-switch
    = f.check_box :hotel_information, class: "custom-control-input"
    = f.label :hotel_information,class: "custom-control-label"