<div class="row mt-3">
	<div class="col-md-10 mx-auto">
		<h3>Account Information Update</h3>
	
		<%= form_for(@user, :html => { :method => :put }, :url => {:action => "update_account"}) do |f| %>

			<% if @user.errors.any? %>
				<div class="alert alert-danger">
						<p><%= pluralize(@user.errors.count, "error") %></p>
			
						<p>
							<ul>
									<% @user.errors.full_messages.each do |msg| %>
									<li><%= msg %></li>
									<% end %>
								</ul>
						</p>
					</div>
				<% end %>
			<div class="form-group">
				<%= f.label :first_name %> 
				<%= f.text_field :first_name, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :last_name %>
				<%= f.text_field :last_name, class: "form-control" %>
			</div>
		
			<%= f.submit "Update", class:"btn btn-primary"    %>
		<% end %>
	</div>
</div>

