<h1>Listing sessions_subtracks</h1>
<%= link_to 'New Sessions subtrack', new_sessions_subtrack_path,class:"btn btn-primary" %> <br/><br/>

<table>
  <tr>
    <th>Subtrack</th>
    <th>Session</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessions_subtracks.each do |sessions_subtrack| %>
  <tr>
    <td><%= sessions_subtrack.subtrack_id %></td>
    <td><%= sessions_subtrack.session_id %></td>
    <td><%= link_to 'Show', sessions_subtrack ,class:"btn show" %></td>
    <td><%= link_to 'Edit', edit_sessions_subtrack_path(sessions_subtrack) ,class:"btn edit" %></td>
    <td><%= link_to 'Delete', sessions_subtrack, :confirm => 'Are you sure?', :method => :delete ,class:"btn delete" %></td>
  </tr>
<% end %>
</table>

<br />

