<%= link_to 'Back', record_comments_path,class:"btn" %> 
<%= link_to 'Edit', edit_record_comment_path(@record_comment) ,class:"btn edit" %> 



<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @record_comment.comment %>
</p>

<p>
  <b>User:</b>
  <%= @record_comment.user_id %>
</p>


