<%= form_for(@script_type) do |f| %>
  <% if @script_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@script_type.errors.count, "error") %> prohibited this script template from being saved:</h2>

      <ul>
      <% @script_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <p><i>The template name</i></p>
    <%= f.text_field :name, class: "form-control" %>
  </div>


  <div class="form-group">
  <%= f.label :url%>
  <p><i> The url of the method eg. refresh_external_api_import_script</i></p>
  <%= f.text_field :url, class: "form-control" %>
  </div>


  <div class="field">
    <%= f.label :post_request do %>
      <p><i> Integration scripts use the post method. Reports usually don't.</i></p>
      <%= f.check_box :post_request %>
      Post Request
    <% end %>
  </div>
  <br>

  <div class="field">
  <%= f.label :job do %>
    <p><i> Integration scripts use jobs. Reports usually don't.</i></p>
    <%= f.check_box :job %>
    Job
  </div>
    <br>

  <div class="form-group">
    <%= f.label :file_name %>
    <p><i> This field is optional. Add only if the script file doesn't change.</i></p>
    <%= f.text_field :file_name, class: "form-control" %>
  </div>
  <% end %><br>


  <div class="actions">
    <%= f.submit "Update Template", class:"btn btn-primary"   %>
  </div>
<% end %>
