<!DOCTYPE html>
<html>
<head>

  <title>EventKaddy CMS - Select Your Event</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tag %>
</head>

<body>
	<% if user_signed_in? && !current_user.id.eql?(true_user.id) %>
		<div class="impersonate-banner">
			You are signed-in as <%= current_user.email %>&nbsp;
			<%= link_to "Back to admin", stop_impersonating_users_path, method: :post %>
		</div>
	<% end %>

	<div class="navbar navbar-expand-md navbar-dark bg-celurean-custom">

		<div class="navbar-brand">
<!--   			<img src="/assets/wvc_logo_small.png" width="102px" height="30px"> -->
		</div>

		<ul class="navbar-nav ml-auto">
			<!-- <li><%= link_to "Home", "/home/index" %></li> -->
			<% if user_signed_in? then %>
				<!-- <li><%= link_to "Change Password", "/trackowner_portals/edit_account" %></li> -->
			<li class="nav-item"><%= link_to "Logout #{current_user.email}", destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
			<% else %>
				<li class="nav-item"><%= link_to "Trackowner Portal", "/users/sign_in", class: "nav-link" %></li>
				<li class="nav-item"><%= link_to "Manager Login", "/users/sign_in", class: "nav-link" %></li>
			<% end %>
		</ul>

	</div>

		<div class="container-fluid content-container500">
			<div class="row">

				<div class="col-sm-11 col-centered">

					<div id="content">
						<% if notice %>
							<p class="alert alert-info"><%= notice %></p>
			       		<% end %>
			       		<% if alert %>
			       			<p class="alert alert-danger"><%= alert %></p>
						<% end %>

						<center><br><%= yield %></center>
					</div>
				</div>
			</div><!--row-->
		</div>

		<hr>

		<div class="footer">
			<div class="footer-text">
				Questions?  Email support@eventkaddy.com
			</div>
		</div>


</body>
</html>
