<%= form_for(@subtrack) do |f| %>
  <% if @subtrack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subtrack.errors.count, "error") %> prohibited this subtrack from being saved:</h2>

      <ul>
      <% @subtrack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br /><br />
  </div>
  
  <div class="field">
  <%= f.label :track %>
  <%= f.collection_select(:track_id,Track.where("tracks.event_id= ?", session[:event_id]),:id,:name) %><br /><br />
  </div>
  
  <br/>
  
  <div class="actions">
    <%= f.submit class:"btn btn-primary"   %>
  </div>
<% end %>
