<h3>Listing Sessions for: <%= @event_to_configure.name %> </h3>
<%= link_to 'New Session', new_event_session_path ,class:"btn btn-primary" %> <br/><br/>
<table>
  <tr>
    <th>Session code</th>
    <th>Session cancelled</th>
    <th>Title</th>
    <th>Description</th>
    <th>Room ID</th>
    <th>Tag twitter</th>
    <th>Start at</th>
    <th>End at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%= session.session_code %></td>
    <td><%= session.session_cancelled %></td>
    <td><%= session.title %></td>
    <td><%= session.description %></td>
    <td><%= session.location_mapping_id %></td>
    <td><%= session.tag_twitter %></td>
    <td><%= session.start_at %></td>
    <td><%= session.end_at %></td>
    <td><%= link_to 'Show', event_session_path(session) ,class:"btn show" %></td>
    <td><%= link_to 'Edit', edit_event_session_path(session) ,class:"btn edit" %></td>
    <td><%= button_to 'Destroy', event_session_path(session), :confirm => 'Are you sure?', :method => :delete,class:"btn delete" %></td>
  </tr>
<% end %>
</table>

<br />


