<div class="row mt-3">
  <div class="col-md-8 mx-auto bg-light custom-border">
    <h2>New Staff</h2>

    <%= form_for(@exhibitor_staff || ExhibitorStaff.new, :html => {:class=>"form-horizontal well", :id=>"new_staff_form"}) do |f| %>
      <% if @exhibitor_staff.errors.any? || (@user && @user.errors.any?) %> 
        <div id="error_explanation">
          <h2> Following are the errors that prohibited this exhibitor staff from being saved:</h2>
          <% if  @exhibitor_staff.errors.any? %>
            <ul>
            <% @exhibitor_staff.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          <% end %>
          <% if (@user && @user.errors.any?) %>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

      <%= hidden_field_tag :exhibitor_id, @exhibitor_staff.exhibitor_id %>
      
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", required: true %>
      </div>

      <div class="form-group password-container" >
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", disabled: true, required: true %>
        <span class="text-info">*Disabled for existing users </span><br>
		<span>You can use the same password for all your staff.</span>
		
      </div>

   <div class="form-group">
  <%= f.hidden_field :is_attendee, value: true %>
  
</div>
      <p><%= f.submit "Create", class:"btn btn-primary" %></p>
    <% end %>


    <%= link_to 'Back', '/exhibitor_portals/staff_members', class: "btn btn-link" %>
  </div>
</div>

<script>
  $(document).ready(function(){
    var isCheckDomainEmail = "<%= @settings.check_email_domain %>"
    console.log('isCheckDomainEmail', isCheckDomainEmail)
    $('#exhibitor_staff_email').on('input', function(){
      let email = $(this).val();
      const re = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
      const exhibitorEmail = "<%= current_user.email %>";
      if (re.test(email)){
        const emailDomain = exhibitorEmail.split('@')[1];
        const enteredEmailDomain = email.split('@')[1];
        $('#exhibitor_staff_email').css({'border-color': '#ced4da'});
        if (isCheckDomainEmail == 'true'){
          console.log('Inside isCheckDomainEmail ')
          if (emailDomain === enteredEmailDomain){
            $.get("/check_existing_email", {email: email},
              function (data, textStatus, jqXHR) {
                if (data.email_exists){
                  $('#exhibitor_staff_password').attr('disabled', 'disabled');
                } else
                  $('#exhibitor_staff_password').removeAttr('disabled');
                $("input[type='submit']").removeAttr('disabled');
              },
            );
          }
          else{
            $('#exhibitor_staff_email').css({'border-color': 'red'});
            $("input[type='submit']").attr('disabled', 'disabled');
            $('#exhibitor_staff_password').removeAttr('disabled');
          }
        }
        else{
          $.get("/check_existing_email", {email: email},
              function (data, textStatus, jqXHR) {
                if (data.email_exists){
                  $('#exhibitor_staff_password').attr('disabled', 'disabled');
                } else
                  $('#exhibitor_staff_password').removeAttr('disabled');
                $("input[type='submit']").removeAttr('disabled');
              },
            );
        }
      } else {
        $('#exhibitor_staff_email').css({'border-color': 'red'});
        $("input[type='submit']").attr('disabled', 'disabled');
      }
    });
  })
</script>

