<script src='/assets/unordered-files/sortandrename.js' type="text/javascript"> </script>

<h4>Speaker Tabs Configuration</h4>

<div id="stable-height"><div id="response"></div></div>

<!-- <table id="tabstable" class="tabstable">
  <thead>
	<tr>
		<th> <h3>Enabled</h3></th>
		<th> <h3>Disabled</h3></th>
	</tr>
</thead>
  <tr>
    <td>
      <ul id="enabled" class="connectedSortable" style="height:870px;">
        <% @tabs.each do |tab| %>
          <% if tab.enabled then %>
        <li id="<%=tab.tab_type_id%>" class="ui-state-default"><input value="<%=tab.name%>"></input>Default: <%=tab.tab_type.default_name%> <br style="line-height:30px;">
          <%= link_to 'Edit Header and Footer', edit_tab_path(tab) ,class:"btn edit pull-right" %><br style="line-height:30px;"></li>
          <% end %>
        <% end %>

      </ul>
    </td>
    <td>
      <ul id="disabled" class="connectedSortable" style="height:870px;">
        <% @tabs.each do |tab| %>
          <% if !(tab.enabled) then %>
        <li id="<%=tab.tab_type_id%>" class="ui-state-default"><input value="<%=tab.name%>"></input>Default: <%=tab.tab_type.default_name%> <br style="line-height:30px;">
          <%= link_to 'Edit Header and Footer', edit_tab_path(tab) ,class:"btn edit pull-right" %><br style="line-height:30px;"></li>
          <% end %>
        <% end %>
      </ul>
    </td>
  </tr>
</table> -->

<ul class="sortable-tabs mx-auto">
  <% @tabs.each do |tab| %>
    <li class="d-flex flex-row tab-row mb-2">
      <div class="position-btns handle" style="width: 5%;">
        <button type="button" class="pos-btn btn" role="up">
          <i class="fa fa-angle-up"></i>
        </button> <br>
        <button type="button" class="pos-btn btn" role="down">
          <i class="fa fa-angle-down"></i>
        </button>
      </div>
      <div class="tab-text form-inline row ml-4 mr-4" style="width: 75%;">
        <input type="text" value="<%=tab.name%>" class="form-control col-md-7">
        <%= link_to 'Edit Header and Footer', edit_tab_path(tab) ,class:"btn btn-outline-success col-md-5 handle" %>
      </div>
      <div class="pt-4 enabled-disabled pull-right">
        <% if tab.enabled %>
          <label class="switch handle">
            <input type="checkbox" id="<%= tab.tab_type_id %>" checked>
            <span class="slider round"></span>
          </label>
        <% else %>
          <label class="switch handle">
            <input type="checkbox" id="<%= tab.tab_type_id %>">
            <span class="slider round"></span>
          </label>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
