= javascript_include_tag "unordered-files/sortandrename.js"
%h4 Exhibitor Tabs Configuration
#stable-height
  #response
-# %table#tabstable.tabstable
-#   %thead
-#     %tr
-#       %th
-#         %h3 Enabled
-#       %th
-#         %h3 Disabled
-#   %tr
-#     %td
-#       %ul#enabled.connectedSortable
-#         - @tabs.each do |tab|
-#           - if tab.enabled
-#             %li.ui-state-default{:id => "#{tab.tab_type_id}"}
-#               %input{:value => "#{tab.name}"}>/
-#               Default: #{tab.tab_type.default_name}
-#               %br{:style => "line-height:30px;"}/
-#               = link_to 'Edit Header and Footer', edit_tab_path(tab) ,class:"btn edit pull-right"
-#               %br{:style => "line-height:30px;"}/
-#     %td
-#       %ul#disabled.connectedSortable
-#         - @tabs.each do |tab|
-#           - if !tab.enabled
-#             %li.ui-state-default{:id => "#{tab.tab_type_id}"}
-#               %input{:value => "#{tab.name}"}>/
-#               Default: #{tab.tab_type.default_name}
-#               %br{:style => "line-height:30px;"}/
-#               = link_to 'Edit Header and Footer', edit_tab_path(tab) ,class:"btn edit pull-right"
-#               %br{:style => "line-height:30px;"}/

%ul.sortable-tabs.mx-auto
  - @tabs.each do |tab|
    %li.d-flex.flex-row.tab-row.mb-2
      .position-btns.handle{style: "width: 5%;"}
        %button.pos-btn.btn{type: "button", role: "up"}
          %i.fa.fa-angle-up
        %br/
        %button.pos-btn.btn{type: "button", role: "down"}
          %i.fa.fa-angle-down
      .tab-text.form-inline.row.ml-4.mr-4{style: "width: 74%;"}
        %input(type="text" value="#{tab.name}" class="form-control col-md-7")/
        = link_to 'Edit Header and Footer', edit_tab_path(tab) ,class:"btn btn-outline-success col-md-5 handle"
      .pt-4.enabled-disabled.pull-right
        - if tab.enabled
          %label.switch.handle
            %input(type="checkbox" id="#{tab.tab_type_id}" checked=true)/
            %span.slider.round
        - else
          %label.switch.handle
            %input(type="checkbox" id="#{tab.tab_type_id}")/
            %span.slider.round