<h1>Other Session Keywords</h1>
<br/>
<br/>

<table id="spsessions" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sesssion Code</th>
      <th>Session Title</th>
      <th>Speaker</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @keywords.each do |keyword| %>
      <% if keyword.session.present? %>
        <tr>
          <td><%= keyword.name %></td>
          <td><%= link_to keyword&.session&.session_code,"/sessions/#{keyword&.session&.id}" %></td>
          <td><%= keyword.session.title %></td>
          <td>
            <% if keyword.speaker.present? %>
              <%= keyword.speaker.first_name %> <%= keyword.speaker.last_name %></td>
            <% end %>
            <td class="table-actions">
              <% if !check_existing_tag_or_keyword(@event, @tag_type, keyword.name) %>
                <%= link_to 'Add to Session keywords', "/events/add_preset_keywords/#{keyword.id}", method: :post, class:"btn btn-outline-success" %>
              <% else %>
                <%= link_to 'Remove from Session keywords', "/events/remove_preset_keywords/#{keyword.id}", method: :post, class:"btn btn-outline-success" %>
              <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>