<div class="show-reports mt-3">
  <span class="toolbar">
    <h4 class="toolbar-title">Survey Reports</h4>
  </span>
  <div class="dropdown download-menu">
    <button
      class="btn dropdown-toggle report-dropdown"
      data-toggle="dropdown"
    >
      Downloads
    </button>
    <ul class="dropdown-menu report-dropdown-list">
      <li>
        <%= link_to "Export Survey Data To Spreadsheet",
        "/reports/exhibitor_surveys_report/#{@exhibitor_id}"%>
      </li>
      <%if session[:event_id]==240 || session[:event_id]==277 || session[:event_id]==262 %>
         <li>
           <%= link_to "Export Uncompleted Survey Data To Spreadsheet",
           "/reports/exhibitor_uncompleted_surveys_report/#{@exhibitor_id}"%>
         </li>
      <%end%>
    </ul>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <table
    id="exhibitor-show-reports-table"
    cellpadding="0"
    cellspacing="0"
    border="0"
    class="table table-striped table-bordered"
  >
    <thead>
      <th>first name&nbsp; &nbsp; &nbsp;</th>
      <th>last name&nbsp; &nbsp; &nbsp;</th>
      <th>company&nbsp; &nbsp; &nbsp;</th>
      <%if !@setting['hide_exhibitor_portal_attendee_email']%>
        <th>email&nbsp; &nbsp; &nbsp;</th>
      <% end %>
      <%if !(@setting['hide_exhibitor_portal_attendee_mobile_phone'] && @setting['hide_exhibitor_portal_attendee_business_phone'])%>
        <th>phone number&nbsp;</th>
      <% end %>
      <th>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</th>
    </thead>
    <% @reports.each do |report| %>
    <tr>
      <td><%=report.first_name%></td>
      <td><%=report.last_name%></td>
      <td><%=report.company%></td>
      <%if !@setting['hide_exhibitor_portal_attendee_email']%>
        <td><a href="mailto: <%=report.email%>"><%=report.email%> </a></td>
      <% end %>
      <%if (!@setting['hide_exhibitor_portal_attendee_mobile_phone'] && !@setting['hide_exhibitor_portal_attendee_business_phone'])%>
        <td><%="#{report.business_phone} #{report.mobile_phone}"%></td>
      <% elsif !@setting['hide_exhibitor_portal_attendee_mobile_phone']%>
        <td><%=report.mobile_phone%></td>
      <% elsif !@setting['hide_exhibitor_portal_attendee_business_phone']%>
        <td><%=report.business_phone%></td>
      <% end %>
      <td style="text-align:center">
        <%= link_to '<button type="button" class="btn btn-primary">Show</button
        >'.html_safe, "/exhibitor_portals/reports/#{report.attendee_id}" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<script>
  $(function () {
    $.extend($.fn.dataTableExt.oStdClasses, {
      sWrapper: 'dataTables_wrapper form-inline'
    })
    $('#exhibitor-show-reports-table').dataTable({
      sDom: "<'pull-left'l><'ml-auto mr-1'f>rt<'pull-left'i><'ml-auto'p>",
    })
    $('dataTables_filter').css('display', 'none')
    return $('table.dataTable th').css('max-width', '97% !important')
  })
</script>
