:css
  .email-link {
    text-decoration: none;
    color: inherit;
  }
  
  .response-table {
    margin-right:20px !important;
    max-width: 97%;
  }

.well
  = link_to 'Back', "/attendees/#{@attendee["id"]}/view_history", class: 'btn back'
  %br
  %br
  %h2= "#{@attendee["first_name"]}  #{@attendee["last_name"]}" 
  %h4= "Company: #{@attendee["company"]}"
  %h6= link_to "Email: #{@attendee["email"]}", 'mailto: @attendee.email', class: 'email-link'
  %h6= "Contact: #{@attendee["business_phone"]}  #{@attendee["mobile_phone"]}"
  %h6= "Session Code: #{@session_code}"

  %br
  %h4= 'Visits History'

  %table.table.table-striped.leaderboard-table.response-table{style:"max-width: 97% !important"}
    %thead{style:"text-align:left;"}
      %tr
        %th{style:"width:50%;"} Date
        %th{style:"width:50%;"} Time
    - @video_views.each do |video_view|
      %tbody
        %tr
          %td.google-api-font
            = video_view["created_at"].strftime("%Y-%m-%d")
          %td.google-api-font
            = get_local_time(video_view["created_at"])

