<div class="row">
	<div class="col-sm-12">
		<div id="content">
      <h4>All Webhook Transactions</h4>
      <table class="table table-striped" id="webhook_table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Event id</th>
            <th>Event type</th>
            <th>Transaction id</th>
            <th>Status</th>
            <th>Amount(cent)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @webhooks.each do |webhook| %>
            <tr>
              <td><%= webhook.email %></td>
              <td><%= webhook.event_id %></td>
              <td><%= webhook.event_type %></td>
              <td><%= webhook.transaction_id %></td>
              <td><%= webhook.status %></td>
              <td><%= webhook.amount %></td>
              <td>
                <div class="table-actions">
                  <div class="btn-group d-flex">
                    <%= link_to 'Show', webhook, class: "btn btn-outline-primary" %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>