<div class="row">
	<div class="col-sm-12">
		<div id="content">
			<h4>Event Tickets </h4>
			<div class="btn-toolbar my-2">
				<div class="btn-group mr-2">
					<a class="btn btn-primary" href="/event_tickets/new">New Event Ticket
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
			<br>

				<table class="table table-striped" id="event_ticket_table">
					<thead>
			      <tr>
			        <th>Title</th>
			        <th>Date</th>
			        <th>Start Time</th>
			        <th>End Time</th>
			        <th>Actions</th>
			      </tr>
					</thead>
					<tbody>
						<% @tickets.each do |ticket| %>
							<tr>
								<td><%= ticket.title %></td>
								<td><%= ticket.date.strftime("%Y/%m/%d") %></td>
								<td><%= ticket.start_time.strftime("%Y/%m/%d %I:%M %p") %></td>
								<td><%= ticket.end_time.strftime("%Y/%m/%d %I:%M %p") %></td>
								<td>
									<div class="table-actions">
										<div class="btn-group d-flex">
											<%= link_to('Edit', edit_event_ticket_path(ticket), class: "btn btn-outline-success") %>
											<%= link_to('Delete', event_ticket_path(ticket), data: {:confirm => 'Are you sure?'}, :method => :delete ,class:"btn btn-outline-danger") %>
									</div>
									<div class="dropdown">
										<a data-toggle= 'dropdown' style="font-size:1.4rem; cursor: pointer;">
											<i class="fa fa-ellipsis-v"></i>
										</a>
										<div class="dropdown-menu">
												<%= link_to('Edit', edit_event_ticket_path(ticket), class: "btn text-info dropdown-item") %>
												<%= link_to('Delete', event_ticket_path(ticket), data: {:confirm => 'Are you sure?'}, :method => :delete ,class:"btn text-danger dropdown-item") %>
											</div>
										</div>
									</div>
								 </td>
							</tr>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>

