<% if (false) then %>
	<% content_for :event_sub_menu do %>
		
			<li><%= link_to 'Add Group Entry', "/home_button_entries/new/#{@home_button_group.id}",class:"btn btn-primary" %></li>
		
	<% end %>
<% end %>


<% if (false) then %>
<h4 class="view-title">Button Group Details</h4>
<%= link_to 'Edit', edit_home_button_group_path(@home_button_group) ,class:"btn edit" %> |
<%= link_to 'Delete', @home_button_group, :confirm => 'Are you sure?', :method => :delete ,class:"btn delete" %>

<table class="table">
<% if (@home_button_group.event_file!=nil) then %>
	<tr><td><%= image_tag(@home_button_group.event_file.path, :height=>'50') %></td></tr>
<% end %>
<tr><th>Group Name</th><td><%= @home_button_group.name %></td></tr>
<tr><th>Position</th> <td><%= @home_button_group.position %></td></tr>
</table>
<% end %>



<% if (@home_button_entries.length > 0) then %>
	<h4 class="view-subtitle">Current <b><%= @home_button_group.name %></b> Items</h4>
	
	<table>
		<tr><td><%= link_to 'Add Item', "/home_button_entries/new/#{@home_button_group.id}",class:"btn btn-primary" %></td</tr>
	</table>
	
	<table class="table table-striped table-bordered">
	  <tr>
	    <th>Name</th>
	    <!--th>Icon</th-->
	    <th>Position</th>
	    <th>Render URL</th>
		<th>Content</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	<% @home_button_entries.each do |home_button_entry| %>
	  <tr>
	    <td><%= home_button_entry.name %></td>
	    <% if (home_button_entry.event_file!=nil) then %>
	    <!--td><%= image_tag(home_button_entry.event_file.path, :height=>'50') %></td-->
	    <% else %>
	    <!--td>N/A</td-->
	    <% end %>
	    <td><%= home_button_entry.position %></td>
	    <td><%= home_button_entry.render_url %></td>
	    <td><%= home_button_entry.content %></td>
	    <td><%= link_to 'Show', home_button_entry ,class:"btn show" %></td>
	    <td><%= link_to 'Edit', edit_home_button_entry_path(home_button_entry) ,class:"btn edit" %></td>
	    <td><%= link_to 'Delete', home_button_entry, :confirm => 'Are you sure?', :method => :delete ,class:"btn delete" %></td>
	  </tr>

	<% end %>
	</table>
<% else %>
	<p>Home Button Groups must be created before entries are available here.</p>
<% end %>



