<a class="btn btn-outline-dark mr-2" href="<%= "/sessions/#{@session.id}/subtitles"%>">Back</a>

<%= form_for(:session, :url => '/sessions/subtitles/create',:html => { :multipart => true, :class => "form-horizontal well" }) do |f| %>

 <%= hidden_field_tag :id, @session.id %>

  <div class="form-group">
    <%= label_tag 'label' %>
    <%= text_field_tag :label , nil, class: "form-control", required: true%>
  </div>

  <div class="form-group">
    <%= label_tag 'srclang' %>
    <%= select_tag :srclang , options_for_select(['en', 'fr', 'es']), class: "form-control", required: true%>
  </div>

  <div class="form-group">
    <%= label_tag :subtitle, "Choose a File" %>
    <%= file_field_tag "subtitle", accept: '.vtt', class: "form-control-file" %>
  </div>

  <div class="actions">
    <%= f.submit 'Save Subtitle' ,class:"btn btn-primary"   %>
  </div>
<% end %>
