<div class="row">
  <div class="col-sm-12">
    <div id="content">
      <h4>Purchase Details</h4>
      <br>
        <table class="table table-striped" id="event_ticket_table">
          <thead>
            <tr>
              <th>Exhibitor</th>
              <th>Items</th>
              <th>Transaction ID</th>
              <th>Transaction Status</th>
              <th>Payment Mode</th>
              <th>Amount</th>
              <th>Date/Time</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <% transaction = order.transaction_detail %>
                <% mode_of_payment = transaction.mode_of_payment %>
                <td><%= "#{order.user.first_name} #{order.user.last_name}".strip %>
                  <br>
                  <span><%= order.user.email %></span>
                </td>
                <td>
                  <ul>
                    <% order.order_items.each do |order_item| %>
                      <li>
                        <% if order_item.item_type == 'LocationMapping' %>
                          <%= order_item.item.name %>
                        <% elsif order_item.item_type == 'SponsorLevelType' %>
                          <%= order_item.item.sponsor_type %>
                        <% elsif order_item.item_type == 'Product' %>
                          <%= order_item.item.name %>(Qty: <%= order_item.quantity %>)
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </td>
                <% if mode_of_payment.name == 'PayPal'%>
                  <td><%= transaction.external_transaction_id %></td>
                <% elsif mode_of_payment.name == 'Stripe'%>
                  <td><%= transaction.external_payment_id %></td>
                <% else %>
                  <td><%= transaction.external_payment_id %></td>
                <% end%>  
                <td><%= transaction.external_status %></td>
                <td><%= mode_of_payment.name %></td>
                <td><%= order.total %></td>
                <td><%= transaction.updated_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>

