<body>
  <nav class="navbar navbar-light bg-light reg-banner">
    <%= @settings.reg_banner.to_s.html_safe %>
  </nav>
  <div class="container-fluid d-flex flex-column mx-auto reg-main">
    <div class="d-flex reg-section-container align-items-center reg-header pb-0" style="<%= "background-image: linear-gradient(to bottom, ##{@settings.gradient_top || '317eac'}, ##{@settings.gradient_bottom || 'a4b5c0'}" if !@settings.show_header_edit_page %>">
      <div class="row mx-auto d-flex reg-row">
        <div class="col-12 d-flex reg-col">
          <!-- ======= Nav ======= /
          -->
          <nav class="navbar navbar-expand-sm navbar-light full-width">
            <a class="navbar-brand text-wrap">
              <% event_setting = EventSetting.select(:portal_logo_event_file_id).where(event_id:params[:event_id]).first_or_create %>
              <% if event_setting && event_setting.event_file_portal_logo %>
                <%= image_tag(event_setting.event_file_portal_logo.path, :class =>'photo_preview') %>
              <% else %>
                <img src="/assets/ek_logo.png" width="100px"/>
              <% end %>
            </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
              </button>
              <% registration_url = 'registrations' %>
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  
                  <li class="nav-item">
                    <a class="nav-link" href="/<%= params[:event_id] %>/<%= registration_url %>">
                      <i class="fa fa-home"></i>
                    </a>
                  </li>
                  <% if @settings.method("agenda").call() %>
                    <li class="nav-item">
                      <a class="nav-link" href="/<%= params[:event_id] %>/<%= registration_url %>/agenda">
                        AGENDA
                      </a>
                    </li>
                  <% end %>
                  <% if @settings.method("speakers").call() %>
                    <li class="nav-item">
                      <a class="nav-link" href="/<%= params[:event_id] %>/<%= registration_url %>/speakers">
                        SPEAKERS
                      </a>
                    </li>
                  <% end %>
                  <% if @settings.method("exhibitors").call() %>
                    <li class="nav-item">
                      <a class="nav-link" href="/<%= params[:event_id] %>/registrations/exhibitors">
                        EXHIBITORS
                      </a>
                    </li>
                  <% end %>
                  <% if @settings.method("sponsors").call() %>
                    <li class="nav-item">
                      <a class="nav-link" href="/<%= params[:event_id] %>/registrations/sponsors">
                        SPONSORS
                      </a>
                    </li>
                  <% end %>
                  <% if @settings.method("hotel_information").call() %>
                    <li class="nav-item">
                      <a class="nav-link" href="/<%= params[:event_id] %>/registrations/hotel_information">
                        HOTEL INFORMATION
                      </a>
                    </li>
                  <% end %>
                  <% if @cart %>
                    <li class="nav-item HeaderCart" data-toggle="modal" data-target="#cartModal" >
                      <span class="HeaderCart_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z">
                          </path>
                        </svg>
                      </span>
                      <span>Your Cart</span>
                      <span class="HeaderCart_badge">
                        <% if current_user.present? %>
                          <%= render "/registrations/cart_counter_header", cart: @cart_items.reduce(0){|sum,item| sum+=item.quantity} %>
                        <% else %>
                          <%= render "/registrations/cart_counter_header", cart: @cart_items.reduce(0){|sum,item| sum+=item.quantity} %>
                        <% end %>
                      </span>
                    </li>
                  <% end %>
                </ul>
              </div>
          </nav>
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if notice %>
    <div class="alert alert-success shadow" role="alert" style="border-left:#155724 5px solid; border-radius: 0px">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="color:#155724">&times;</span>
      </button>
      <div class="row">
        <i class="fa fa-check-circle-o success-font"></i>
        <p style="font-size:12px" class="mb-0 font-weight-light"><%= notice %></p>
      </div>
    </div>
  <% end %>
  <% if alert %>
      <div class="alert alert-danger shadow" role="alert" style="border-left:#721C24 5px solid; border-radius: 0px">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" style="color:#721C24">&times;</span>
          </button>
          <div class="row">
                  <i class="fa fa-exclamation-circle danger-font"></i>
                  <p style="font-size:12px" class="mb-0 font-weight-light"><%= alert %></p>
          </div>
      </div>
  <% end %>
  <section style="background-color: #eee;">
    <div class="container py-5">
    <div id="user_defined_header">
      <% if (@current_tab!=nil && @current_tab.header_text!=nil && @current_tab.header_text.length > 0) %>
          <hr class="soften">
          <%=@current_tab.header_text.html_safe %>
          <hr class="soften">
      <% end %>
    </div>

    <%= render "/registrations/products_cart" %>
    
    <div id="user_defined_footer">
      <% if @current_tab!=nil && @current_tab.footer_text!=nil && @current_tab.footer_text.length > 0 %>
          <hr class="soften">
          <%= @current_tab.footer_text.html_safe %>
          <hr class="soften">
      <% end %>
    </div>
  </div>
</section>

</body>

