<!DOCTYPE html>
<html>
<head>

  <title>EventKaddy CMS</title>
  <!--%= stylesheet_link_tag "scaffold" %-->
  <%= stylesheet_link_tag "blueprint/screen.css", :media => "screen,projection" %>
  <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>  
  <%= stylesheet_link_tag "main" %>
  
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>

<body>

	<div class="container">
	
		<div id="header" class="span-24 last">
			
			<div id="logo" class="span-6">
				<h2>EventKaddy CMS</h2>
			</div><!--logo-->
			
			<div id="vertical-menu-bar" class="span-17 last">
				
				<div id="vertical-menu-1">
					<table>
						<tr>
						<% if user_signed_in? then %>
						<td><%= link_to "Logout #{current_user.email}", "/users/sign_out" %></td>
						<% else %>
						<td><%= link_to "login", "/users/sign_in" %></td>
						<% end %>
						</tr>
					</table>
				</div>
				
				<div id="vertical-menu-2">
					<table>
						<tr>
						<% if @organization_for_events then %>
						<td><%= link_to @organization_for_events.name, "/events/indexfororg/#{@organization_for_events.id}" %></td>
						<% else %>
						<td></td>
						<% end %>
						</tr>
					</table>
				</div>
				
			</div><!--vertical-menu-bar-->
			
		</div><!--header-->
		
		<div id="left-sidebar" class="span-3 colborder">
			<div id="first-left-sidebar"></div><!--first-left-sidebar-->
			
			<div id="second-left-sidebar"></div><!--second-left-sidebar-->
			
		</div><!--left-sidebar-->
		
		<div id="content" class="span-20 last">
			<% if notice %>
				<p class="notice"><%= notice %></p>
       		<% end %>
       		<% if alert %>
       			<p class="alert"><%= alert %></p>
			<% end %>
			
			<%= yield %>
		</div>
		
		<div id="footer" class="span-24 last">
			<div id="footer-text">
				Questions?  Email support@eventkaddy.com
			</div><!--footer-text-->
		</div>
	
	</div><!--container-->
	
</body>
</html>
